/*
 */
 @font-face {
  font-family: Graublau Sans Web;
  src: url(../fonts/GraublauWeb.otf) format("opentype");
}

/******* Orokorrak *******/
.reveal {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Graublau Sans Web', sans-serif;
    }

    h1 {
        font-size: 48px;
        text-shadow: none;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    ul li {
        list-style-type: none;
    }

    a {
        color: #B3BA33;
        text-decoration: none;

        &:hover img {
            background: none;
            border-color: none;
            box-shadow: none;
        }
    }

    iframe {
        margin-left: auto;
        margin-right: auto;
    }

    section img {
        background: none;
        border: none;
        box-shadow: none;
    }


    /******* Nabigazioko geziak *******/
    .controls {
        .navigate-up, .navigate-up.enabled {
            border-bottom-color: #B3BA33;
        }
        .navigate-right, .navigate-right.enabled {
            border-left-color: #B3BA33;
        }
        .navigate-down, .navigate-down.enabled {
            border-top-color: #B3BA33;
        }
        .navigate-left, .navigate-left.enabled {
            border-right-color: #B3BA33;
        }
    }

    section {
        .azalpena {
            margin: 20px 0px 20px 0px;
        }

        &.sarrera {
            height: 100%;

            .izenburua {
                position: absolute;
                top: 250px;
            }
            .iametza {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 400px;
            }
            .ideia-batetik-errealitatera {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 400px;
            }
            .nork {
                position: absolute;
                top: 550px;
                font-weight: bold;
                font-size: 32px;

                a {
                    color: #B3BA33;
                }
            }
            .non {
                position: absolute;
                top: 595px;
                font-size: 26px;
            }
            .noiz {
                position: absolute;
                top: 640px;
                font-size: 26px;
            }
        }
        &.zer-da-ckeditor {
        }
        &.ckeditor-historia {
            .logoak {
                margin-top: 20px;

                img {
                    vertical-align: middle;

                    &.ckeditor-logoa {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
