/*
 */
 @font-face {
  font-family: Graublau Sans Web;
  src: url(../fonts/GraublauWeb.otf) format("opentype");
}

/******* Orokorrak *******/
.reveal {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Graublau Sans Web', sans-serif;
    }

    /******* Nabigazioko geziak *******/
    .controls {
        .navigate-up, .navigate-up.enabled {
            border-bottom-color: #B3BA33;
        }
        .navigate-right, .navigate-right.enabled {
            border-left-color: #B3BA33;
        }
        .navigate-down, .navigate-down.enabled {
            border-top-color: #B3BA33;
        }
        .navigate-left, .navigate-left.enabled {
            border-right-color: #B3BA33;
        }
    }

    .sarrera {
        h1 {
            font-size: 1.0rem;
        }
    }
}
